:root {
  --bg: #0A0A0A;
  --surface: #171717;
  --card: #262626;

  --primary: #2563EB;
  --primary-hover: #1D4ED8;

  --text: #FAFAFA;
  --text-secondary: #A1A1AA;

  --border: #2E2E2E;

  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 20px;

  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  --transition: .3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Inter, sans-serif;
}